* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8484f3;
}

#slider_container {
    width: 320px;
    height: 450px;
    background-color: #F9F5F4;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    transition: 4s;
    scroll-behavior: smooth;
}

#slider_container.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.item {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.wrap {
    margin-left: -4px;
}

.item:nth-child(1) {
    background: dodgerblue;
}

.item:nth-child(2) {
    background: goldenrod;
}

.item:nth-child(3) {
    background: paleturquoise;
}

.item:nth-child(4) {
    background: gold;
}

.item:nth-child(5) {
    background: cadetblue;
}

.item:nth-child(6) {
    background: tomato;
}

.item:nth-child(7) {
    background: lightcoral;
}

.item:nth-child(8) {
    background: darkslateblue;
}

.item:nth-child(9) {
    background: rebeccapurple;
}

.control_container {
    width: 320px;
    height: 80px;
    background-color: #8484f3;
    border: 4px solid #8484f3;
    box-shadow: 4px 4px 19px #00000032, -4px -4px 19px #FFFFFF32;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn_prev {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.btn_next {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}